body {
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #f8f8f8;
   color: #333;
}

.signin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;

}

.image-section-left,
.image-section-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-section-left img{
  position: absolute;
  width: 500px;
  height: 360px;
  margin-left: 130px;




}


.image-section-right{
  position: relative;
  left:-100px;
  max-width: 400px;
  width: 100%;
  border-radius: 10px;


}

.signin-form {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 800px;
  padding: 20px;
  background-color:white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  left: 17%;
  margin-left: -100px;
}

.signin-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  margin-left: -250px;
}

.input-group7 {
  margin-bottom: 1rem;
  margin-left: -100px;
}

.input-group7 input {
  width: 300px !important;
  padding: 10px;
  margin-left: -150px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.signin-button, .google-button {
  width: 300px;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-left: -250px;
}

.signin-button {
  background-color: #ff914d;
  color: white;
}

.google-button {
  background-color: #4285f4;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

}

.google-button i {
  margin-left: 10px;
}

.login-link {
  text-align: center;
  margin-top: 20px;
  margin-left: -250px;
}

.login-link a {
  color: #4285f4;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}

input.error {
  outline: none; /* Remove default outline */
  border: 1px solid #d9534f; /* Red border for inputs with errors */
  background-color: #f8d7da; /* Light red background for error inputs */
}

.error-text {
  color: #d9534f; /* Bootstrap's red color for errors, or choose your own */
  font-size: 0.875rem; /* Slightly smaller font size for error text */
  margin-top: 0.25rem; /* Space between the input and the error text */
  margin-bottom: 0; /* No extra space below error text */
  display: block; /* Ensure it occupies its own line */
  font-weight: 400; /* Regular weight to maintain readability */
}

/* Additional styles for inputs with errors */
.input-group7 .error {
  border-color: #d9534f; /* Red border to indicate error */
  background-color: #f8d7da; /* Light red background for error inputs */
}
.password-toggle-icon{
  color: black;
  height:200px;
  position: relative;
  top:-45px;
  left:20px;



}